*{
    margin: 0;
    padding: 0;
}
.profile{
    height: 120px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}
.header-name{
    float: left;
    padding: 30px;
}
body{

}
.Container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: 0 auto; 
    padding: 15px;
}
h1,h2,h3,h4,h5,h6{
   color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;

}
.header-contact a{
text-decoration: none;
color:teal;
font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: red;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.div-left{
    width: 30%;
    float: left;
}
.div-right{
    width: 70%;
    float: right;
}
.education-left{
float: left;
width: 45%;
}
.education-right{
    float: left;
    width: 45%;
}
/*....footer start....*/
.footer{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.footer  a {
    color: white;
    margin: 20px;
    text-decoration: none;
}
.footer  a:hover{
    color:aqua
}

.footer  p {
    color: white;
    margin-top: 20px;
    opacity: 0.5;
}
/*....footer end....*/
